[main]
inputdir=/ifs/home/c2b2/rr_lab/tc2813/scratch/data/2014_ICR_Taylor_Jones
output=/ifs/home/c2b2/rr_lab/tc2813/scratch/tmp/tobi_tmp/output
cluster=hpc
steps=BAF

[varcall]
ref=/ifs/home/c2b2/rr_lab/ar3177/shares_scratch/ref/hg19/downloads/homo_sapiens_assembly19/Homo_sapiens_assembly19.fasta
start=1
end=74

[annotate]
 
