[main]
inputdir=/ifs/home/c2b2/rr_lab/tc2813/scratch/data/TOBI_TEST
output=/ifs/home/c2b2/rr_lab/tc2813/scratch/tmp/tobi_tmp/output
cluster=hpc
steps=BAF

[varcall]
ref=/ifs/scratch/c2b2/rr_lab/shares/ref/GRCh37.71/GRCh37.71.nochr.fa

[annotate]
snpeff=/ifs/scratch/c2b2/rr_lab/shares/snpEff-v3.6
#comma separated list of .vcf files for annotation. multiple lines are allowed provided they are indented
annovcf=/ifs/scratch/c2b2/rr_lab/shares/ref/dbSNP/All_20150605.vcf,
	/ifs/scratch/c2b2/rr_lab/shares/snpEff-v3.5/clinvar_20140303.vcf,
	/ifs/scratch/c2b2/rr_lab/shares/ref/cosmic/CosmicCodingMuts.vcf,
	/ifs/scratch/c2b2/rr_lab/cjm2200/germline/normal_controls/pedsnormal_no_TALL_GBM_EP_ALL.vcf,
	/ifs/scratch/c2b2/rr_lab/shares/ref/vcfs/cbio.fix.sort.vcf
dbnsfp=/ifs/scratch/c2b2/rr_lab/shares/snpEff-v3.6/data/dbNSFP2.4.txt.gz

[filter]
vcftype=default
