[main]
inputdir=/ifs/home/c2b2/rr_lab/tc2813/scratch/data/TOBI_TEST
output=/ifs/home/c2b2/rr_lab/tc2813/scratch/tmp/tobi_tmp/output
cluster=hpc
steps=BAF

[varcall]
ref=/ifs/home/c2b2/rr_lab/ar3177/shares_scratch/ref/hg19/downloads/homo_sapiens_assembly19/Homo_sapiens_assembly19.fasta

[annotate]
snpeff=/ifs/scratch/c2b2/rr_lab/shares/snpEff-v3.6
vcfsuffix=blah
#comma separated list of .vcf files for annotation. multiple lines are allowed provided they are indented
annovcf=/ifs/scratch/c2b2/rr_lab/shares/snpEff-v2.1/dbSnp138.vcf,
	/ifs/scratch/c2b2/rr_lab/shares/snpEff-v3.5/clinvar_20140303.vcf,
	/ifs/scratch/c2b2/rr_lab/shares/ref/COSMIC/CosmicVariants_v66_20130725.vcf,
	/ifs/scratch/c2b2/rr_lab/jw2983/mutation_only_tumor/meganormal/219normals.cosmic.hitless100.noExactMut.mutless5000.all_samples.vcf,
	/ifs/scratch/c2b2/rr_lab/shares/ref/vcfs/cbio.fix.sort.vcf
dbnsfp=/ifs/scratch/c2b2/rr_lab/shares/snpEff-v3.6/data/dbNSFP2.4.txt.gz
